<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    {{$ctrl.name}}
  </a>
  <div class="price-note col-10 text-center">
    <div class="progress">
        <div class="progress-text">The price will be uptated in <b>{{60 - $ctrl.progressBar | number:0}}</b> second</div>
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{$ctrl.progress}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <a href="#/">Back</a>
</nav>

 <div class="container">
    <div class="row price-page justify-content-center align-items-center">
      <div class="col block user-info text-center">
        <div class="block-header">Balance:</div>
        <div class="block-body">
          {{$ctrl.name}}: {{$ctrl.userCryptoOwn}} (${{$ctrl.userCryptoOwn * $ctrl.coin.USD}})<br>
          USD: {{$ctrl.userMoney}}
         </div>
      </div>
      <div class="col block text-center">
        <div class="block-header">Buy/Sell Crypto Price</div>
        <div class="block-body">
          <div class="form-group form-group-lg price-input">
            <form name="tradingForm">
              <input ng-model="$ctrl.inputAmount" ng-change="$ctrl.resetAmount()" ng-pattern="/^[0-9]{1,}\.?[0-9]*$/" name="userAmount" class="trading-form form-control" placeholder="Enter amount here...">
              <div class="alert alert-danger" ng-show="$ctrl.amountError">Enter at least one digit, mate.</div>
              <div class="alert alert-danger" ng-show="tradingForm.userAmount.$error.pattern">Only numbers, mate.</div>
              <button ng-disabled="priceForm.userPrice.$error.pattern" ng-click="$ctrl.buy()" type="submit" class="buy-btn btn btn-success">Buy</button> 
              <!--<button ng-disabled="priceForm.userPrice.$error.pattern" ng-click="$ctrl.sell()" type="submit" class="sell-btn btn btn-danger">Sell</button>-->
            </form>
          </div>
        </div>
      </div>
      <div class="col block price text-center">
        <div class="block-header">Current Price</div>
        <div class="block-body">
          <div class="price-up-arrow-block">
            <div class="price-up-arrow" ng-class="{upShow: $ctrl.upShow}">
              <i class="fas fa-caret-up fa-3x"></i>
            </div> 
          </div>
          <div class="price-numbers" ng-class="{upShow: $ctrl.upShow, downShow: $ctrl.downShow}">
            ${{$ctrl.coin.USD}}
          </div>
          <div class="price-down-arrow-block">
            <div class="price-down-arrow" ng-class="{downShow: $ctrl.downShow}">
              <i class="fas fa-caret-down fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-10 archive-block">
        <div class="archive-header text-center">
          Old prices archive
        </div>
        <div class="archive">
          <div class="archive-item row" key={{new Date()}} ng-repeat="item in $ctrl.priceArchive track by $index">
            <div class="col">{{item.time | date:'MMM dd, HH:mm'}}</div>
            <div class="col">${{item.price}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>